/* ====== Material Design 3 – Table ====== */
:root {
  --primary: rgb(0 107 92);
  --surface: rgb(255 248 244);
  --background: rgb(244 251 247);
  --outline: rgb(149 110 105);
  --on-surface: rgb(34 26 17);
}
/* ====== Material Design 3 – Button Base ====== */
:root {
  --primary: rgb(0 107 92);
  --on-primary: #fff;
  --secondary: rgb(54 103 92);
  --surface: rgb(255 248 244);
  --outline: rgb(149 110 105);
}
/* 🌿 تم روشن - بر اساس رنگ‌های داده شده */
:root {
  --md-sys-color-primary: rgb(0 107 92);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-background: rgb(244 251 247);
  --md-sys-color-surface: rgb(255 248 244);
  --md-sys-color-on-surface: rgb(34 26 17);
  --md-sys-color-secondary: rgb(54 103 92);
  --md-sys-color-tertiary: rgb(105 77 171);
  --md-sys-color-outline: rgb(149 110 105);
  --md-sys-typescale-body-small: 0.875rem; /*14px*/
  --md-sys-typescale-font-weight-medium: 500;
  --md-sys-shape-corner-small: 8px;
}
