<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Nersimed Header</title>
<link rel="stylesheet" href="/css/header.css">
</head>
<body >

<header class="app-header light">
  <div class="header-container">

    <!-- لوگو -->
    <a href="/" class="logo">
      <img src="/assets/photo/ssss.png" alt="لوگو نرسیمد" />
    </a>
      <!-- منو دسکتاپ -->
    <nav class="nav-links">
      <a href="/pags/index.html">خانه</a>
      <a href="/pags/contact.html">تماس با ما</a>
      <a href="/pags/about.html">درباره ما</a>
      <a href="/pags/team.html">تیم ما</a>
    </nav>

    <!-- دکمه ورود/ثبت‌نام -->
    <a href="#" class="auth-btn">ورود / ثبت‌نام</a>

  </div>
</header>


</body>
</html>
